<%= div_for(@authors) do |author| %>
    <h2><%= author.name %></h2>
    <p> <%= author.biography %> </p>
    <% author.selected_books.each do |book| %>
    <!-- TODO: link the image to the book's page  -->
      <%= image_tag book.cover_image_url, alt: book.title, id: "book-#{book.id}" %>
    <% end %>
<% end %>
