<%= form_tag({}, method: :get) do %>
  <p class='books-filter-input'>
    <%= label_tag :genre_id, 'Genre' %>
    <%= select_tag :genre_id,
                   options_from_collection_for_select(Genre.all, :id, :name, params[:genre_id]),
                   include_blank: 'All' %>
  </p>
  <p class='books-filter-input'>
    <%= submit_tag 'Go' %>
  </p>
 <% end %>
