<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Cover</h1>
      <p style='margin-left: 60%'>Wow</p>
      <br />
      <p style='margin: 10% 0 0 40%;'>Such book</p>
      <br />
      <p>Many TDD</p>
      <br />
      <p style='margin-left: 50%'>Good pairing</p>
    </div>
    <a href="https://github.com/ajkamel/cover/"><button>View on Github</button></a>
  </div>
</div>
